<div class="cards">
  <h1>Recent flats</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Shanghai, China</div>
        <div class="card-description">
          <h2>Sebastien's home</h2>
          <p>Small flat in Shanghai</p>
        </div>
        <%= image_tag  'http://kitt.lewagon.com/placeholder/users/ssaunier', class: "card-user" %>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%), url('https://kitt.lewagon.com/placeholder/cities/paris');">
        <div class="card-category">Paris, France</div>
        <div class="card-description">
          <h2>Benche's home</h2>
          <p>Charming room in Montmartre</p>
        </div>
        <%= image_tag  'https://kitt.lewagon.com/placeholder/users/benchey', class: "card-user" %>
        <a class="card-link" href="#" ></a>
      </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/london');">
        <div class="card-category">London, UK</div>
        <div class="card-description">
          <h2>Romain's home</h2>
          <p>Charming room in the City</p>
        </div>
        <%= image_tag  'https://kitt.lewagon.com/placeholder/users/tgenaitay', class: "card-user" %>
        <a class="card-link" href="#" ></a>
      </div>
      </div>
    </div>
  </div>
</div>
