---
title: Le Wagon - Middleman
---


<%= partial "components/banner" %>

<div class="cards">
  <h1>Recent flats</h1>
  <div class="container">
    <div class="row">
      <% data.flats.each do |owner, flat| %>
        <%= partial "components/card", locals: {flat: flat, owner: owner} %>
      <% end %>
    </div>
  </div>
</div>



<%= partial "components/footer" %>


